body{
    font-family: Montserrat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.7) 20%), url(images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header h1{
    letter-spacing: 15px;
    font-weight: normal;
}
.navbar{
    background-color:  #490909;
}
.color, .about, .div1, .div2, .div3, .div4{
    background-color: #F6E1C5;
}
.mort{
   background:#A5342B69;
}
footer{
    background-color: 
    #311919;
}
.about{
    position: relative;
    bottom: 60px;
    width: 70%;
}
.div1{
     right: -190px; 
    top: 80px;
}
.div2{
    bottom: 130px;
    right: 150px;
}
.div3{
    top: 80px;
    right: 150px;
}
.div4{
    bottom: 130px;
    right: -250px;  
}
#store .row{
    border-bottom: 1px solid rgb(69, 65, 65);
}
@media screen and (max-width: 500px){
    .about{
        position: relative;
        bottom: 20px;
    }
    .div1{
        right: 0px; 
       top: 0px;
   }
   .div2{
       bottom: 10px;
       right: 0px;
   }
   .div3{
       top: 0px;
       right: 0px;
   }
   .div4{
       bottom:0px;
       right: 0px;  
   }
}

